* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Roboto';
}

a {
    text-decoration: none;
}

article {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

article a {
    margin: 2rem 0;
}

article a img {
    border-radius: 20%;
    transition-duration: 1s;
}

article a img:hover {
    box-shadow: 15px 15px 15px #972401;
}

.secondimagelabelle img {
    transition-duration: 1s;
}

.secondimagelabelle img:hover {
    box-shadow: 15px 15px 15px #857658;
}

body {
    background-color: #EEEEEE;
}

.cards img {
    width: 28vw;
    background-color: grey;
    border-style: none;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(56, 56, 56);
    transition: all 500ms ease-in-out;
}

.cards img:hover {
    transform: rotate3d(1, 1, 1, 10deg);
}

.cards section {
    width: 30%;
}

.cards section p {
    margin: 2rem 0;
}

.desc-text {
    width: 50%;
    margin: 4rem auto 8rem;
}

div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: #404040;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: white;
}

#founderImg {
    width: 36vw;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.8vw;
    margin: 0 0 1rem 1rem;
}

h3 {
    font-family: sans-serif, 'Montserrat';
    font-weight: 800;
    margin: 2rem 0;
}

h4 {
    font-size: 13px;
    margin: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 68vh;
    background-image: url("../img/labellegames.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -24vh;
}

.header a {
    position: relative;
    margin: 0 auto;
}

.header .logo {
    width: 28vw;
    margin: auto;
}

img {
    width: 100%;
}

.imgTitre {
    width: 36%;
}

#lbgNavBarre {
    width: 20%;
}

.labellegames {
    width: 45%;
    display: flex;
    flex-direction: column;
}

#rs a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#rs a:hover:after {
    width: 100%;
    left: 0;
}

.logo:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.logo:hover:after {
    width: 100%;
    left: 0;
}

nav li a:hover {
    color: #34267f;
}

li {
    list-style: none;
}

main {
    margin: 9rem 4rem 2rem 4rem;
}

nav {
    width: 100%;
    background-color: #E4E6EB;
}

nav ul li {
    text-transform: uppercase;
    list-style: none;
}

nav ul li a {
    color: black;
    font-weight: bold;
}

#rs {
    top: 2%;
    right: 4%;
    position: absolute;
    width: 20%;
    color: rgb(255, 255, 255);
}

#rs li {
    width: 16%;
}

.secondimagelabelle {
    margin: 3rem auto;
    width: 28vw;
}

section {
    height: 100vh;
}

#second {
    height: 120vh;
}

.titre {
    width: 20vw;
    position: absolute;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 5px 5px 15px rgb(56, 56, 56);
    margin: 20rem;
    cursor: pointer;
    transition-duration: 1.5s;
}

.titre:hover {
    transform: translateY(50px);
}

.textwanderer {
    margin: 0 1rem 2rem 1rem;
    width: 85%;
}

.titre h3 {
    margin-left: 2rem;
}

.titre p {
    margin: 0 2rem 2rem;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 1rem 0;
}

.wanderer {
    width: 20%;
    position: absolute;
    top: 40vh;
    right: 4vw;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 5px 5px 15px rgb(56, 56, 56);
}

.wanderer a {
    background-color: #34267f;
    font-size: 1vw;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
    text-align: center;
    margin-left: 10em;
    transition-duration: 1s;
}

.wanderer a:hover {
    transform: scale(1.2);
}

hr {
    width: 50vw;
    height: 0.3vh;
    margin: 0 auto;
    background-color: black;
    display: none;
}

.middleimage img {
    transition-duration: 0.5s;
}

.middleimage img:hover {
    box-shadow: 15px 15px 15px #AEAEAE;
}

.rightimage img {
    transition-duration: 0.5s;
}

.rightimage img:hover {
    box-shadow: 15px 15px 15px #857658;
}

@media screen and (max-width:1050px) {
    .cards section {
        height: auto;
    }
    .desc-text {
        width: 80%;
    }
    footer {
        height: 8vh;
    }
    .header {
        height: auto;
    }
    .header .logo {
        width: 14vw;
    }
    #presentation {
        height: auto;
    }
    .titre {
        width: 36vw;
        margin: 22rem 0rem 0 0;
    }
    .wanderer {
        top: 8vh;
    }
    #second {
        height: auto;
        margin-top: 16rem;
    }
}

@media screen and (max-width:768px) {
    .cards section {
        height: auto;
    }
    #second {
        margin-top: 24rem;
    }
    .wanderer {
        width: 28%;
    }
}

@media screen and (max-width:375px) {
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    article a img {
        width: 50vw;
    }
    .header {
        background-position: 0;
        height: 20vh;
    }
    .header .logo {
        width: 20vw;
    }
    #rs li {
        width: 4vw;
    }
    #rs {
        top: 0;
    }
    .wanderer {
        top: 32vh;
        width: 50vw;
        align-items: center;
        right: auto;
    }
    .wanderer h4 {
        font-size: 2.3vw;
    }
    .wanderer h2 {
        font-size: 4vw;
        font-family: sans-serif, 'Montserrat';
        text-align: center;
        margin: 0;
    }
    .wanderer a {
        margin: 1rem 0;
        align-items: center;
        font-size: 2vw;
    }
    nav ul {
        width: 100vw;
        font-size: 10px;
    }
    .textwanderer {
        display: none;
    }
    main {
        margin: 15rem 2rem 1rem 3rem;
    }
    .titre {
        top: 200vw;
        width: 70vw;
        margin: 0;
        display: flex;
        justify-content: center;
        position: static;
        background: none;
        box-shadow: none;
    }
    .titre h3 {
        text-align: center;
        margin: 2rem 0;
    }
    .titre p {
        margin: 0;
    }
    .desc-text {
        width: auto;
        margin: 4rem auto;
    }
    .labellegames {
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .labellegames h3 {
        text-align: center;
    }
    .secondimagelabelle {
        top: 0;
    }
    #second {
        margin-top: 2rem;
        align-items: center;
    }
    #presentation {
        height: auto;
        flex-direction: column-reverse;
    }
    section {
        height: auto;
    }
    footer a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5vw;
    }
    .imgTitre {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgTitre img {
        width: 50vw;
    }
    .cards {
        flex-direction: column;
    }
    .cards section {
        width: auto;
    }
    .cards a img {
        width: 50vw;
    }
    .cards h3 {
        text-align: center;
    }
    section a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    hr {
        display: block;
        margin: 4rem auto;
    }
}