* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Roboto';
}

a {
    text-decoration: none;
}

article {
    display: flex;
    justify-content: space-between;
}

article a {
    margin: 2rem 0;
}

body {
    background-color: #EEEEEE;
}

.cards img {
    width: 414px;
    height: 44vh;
    background-color: grey;
    border-style: none;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(56, 56, 56);
}

.cards section {
    width: 30%;
}

.cards section p {
    margin: 2rem 0;
}

.desc-text {
    width: 50%;
    margin: 4rem auto;
}

div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 30px;
    margin: 0 0 1rem 1rem;
}

h3 {
    font-family: sans-serif, 'Montserrat';
    font-weight: 800;
    margin-bottom: 1rem;
}

h4 {
    font-size: 13px;
    margin: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 68vh;
    background-image: url("../img/labellegames.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -24vh;
}

.header a {
    position: relative;
    margin: 0 auto;
}

.header .logo {
    width: 28%;
    margin: auto;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

main {
    margin: 9rem 4rem 2rem 4rem;
}

.menu a {
    margin: 0 .75rem;
}

nav {
    width: 100%;
    background-color: #E4E6EB;
}

article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}

article a img {
    border-radius: 20%;
}

footer {
    background-color: #404040;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: white;
}

.titre {
    width: 20%;
    position: absolute;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 5px 5px 15px rgb(56, 56, 56);
    margin: 20rem;
    cursor: pointer;
}

.titre h3 {
    margin: 2rem;
}

.titre p {
    margin: 0 2rem 2rem;
}

.wanderer {
    width: 20%;
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 0;
    right: 0;
    margin: 10rem 6rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 5px 5px 15px rgb(56, 56, 56);
}

.textwanderer {
    margin: 0 1rem 2rem 1rem;
    width: 85%;
}

.learnmore {
    background-color: #34267f;
    color: white;
    font-weight: bold;
    margin: 0 1rem 1rem 9rem;
    padding: 0.5rem;
    border-radius: 3rem;
    cursor: pointer;
    text-align: center;
    color: white;
}

.labellegames {
    width: 45%;
    display: flex;
    flex-direction: column;
}

#lbgNavBarre {
    width: 20%;
}

nav ul li {
    text-transform: uppercase;
    list-style: none;
}

nav ul li a {
    color: black;
    font-weight: bold;
}

.secondimagelabelle {
    margin: 3rem auto;
    width: 76%;
}

#rs {
    top: 2%;
    right: 4%;
    position: absolute;
    width: 20%;
    color: rgb(255, 255, 255);
}

#rs li {
    width: 16%;
}

section {
    margin: 0 auto;
    height: 100vh;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 1rem 0;
}